@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .max-container{
    @apply max-w-7xl mx-auto px-8 py-5
  }
  html, body{
    @apply h-full
  }
  #root{
    @apply flex flex-col h-full
  }
  main{
    @apply grow
  }
  .loader-center{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(3px);
  }
}